/* HEADER */
.header {
display: flex;
justify-content: center;
align-items: center;
padding-top: 4rem;
color: rgb(192, 4, 4);
text-shadow:
-0.75px -0.75px 0 #000,
0.75px -0.75px 0 #000,
-0.75px  0.75px 0 #000,
0.75px  0.75px 0 #000,
0 10px 14px rgba(0, 0, 0, 0.75);
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: 200;
letter-spacing: 0.08em;
}

/* CHARACTER IMAGES */
.character-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
}